@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');
    
:root {
    --color-accent: rgb(247,112,98,1);
    --color-accent-lightest:  rgba(247,112,98,1, 0.2);
    --color-text: black;
    --color-accent-2: rgb(0, 206, 209);
    --color-accent-2-lightest: rgba(0, 206, 209, 0.2);
    --font-family-heading: 'Concert One', cursive;
    --font-family-body: 'Roboto', sans-serif;
    --color-accent-3: rgb(255, 215, 0);
    --color-accent-3-lightest: rgba(255, 255, 0, 0.2);
    --color-accent-4: rgb(30, 144, 255);
    --color-accent-4-lightest: rgba(30, 144, 255, 0.2);
}

body {
    font-family: var(--font-family-body);
    color: #000;
    background: rgb(247,112,98);
    /*background: linear-gradient(90deg, rgba(247,112,98,1) 0%, rgba(254,81,150,1) 54%), url('/img/fury_transparent.png');*/
    background: url('/img/fury2.png');
}

*, * * {
    line-height: 1.2em;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-heading);
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
    color: var(--color-accent);
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}

h1 {
    color: white;
}

p {
    margin-bottom: 1em;
}

strong {
    font-weight: 400;
}

.container {
    max-width: 1280px ; /*1920px;*/
    margin: 2% auto;
    width: 90%;
    border-radius: 50px;
    /* border: 10px solid var(--color-accent); */
    background: var(--color-accent-lightest);
    padding: 2%;

    /*background: rgb(212,252,121);
    background: linear-gradient(90deg, rgba(212,252,121,1) 0%, rgba(150,230,161,1) 45%);*/
    background: rgb(255,255,255,0.2);
}

section {
    border-radius: inherit;
    background: white;
    padding: 4%;
    margin-bottom: 4%;
}

.inview-detection section {
    transform: rotate(-1deg) translateX(-10px);
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
}

.inview-detection .in-view {
    filter: drop-shadow(2px 4px 6px var(--color-accent-3));
    transform: rotate(0) translateX(0px);
}

blockquote p {
    position: relative;
}

blockquote p::before,  
blockquote p::after {
    font-size: 3em;
    font-family: var(--font-family-heading);
    color: var(--color-accent-lightest);
    position: absolute;
}

blockquote p::before {
    content: '\201C';
    left: -40px;
    top: 0;
}

blockquote p::after {
    content: '\201D';
    bottom: -20px;
    margin-left: 10px;
}

blockquote span {
    font-family: var(--font-family-heading);
    display: inline-block;
    margin-right: 20px;
    font-size: smaller;
}

button, a:not(.screenshot) {
    border-radius: 10px;
    border: 1px solid var(--color-accent-2);
    background: var(--color-accent-2-lightest);
    color: var(--color-accent-2);
    text-transform: uppercase;
    font-family: 'concert one';
    padding: 5px 20px;
    cursor: pointer;
    display: inline-block;
}

button:hover,
a:not(.screenshot):hover {
    background: white;
}

a:not(.screenshot) {
    border: 1px solid var(--color-accent-3);
    background: var(--color-accent-3-lightest);
    color: var(--color-accent-3);
    text-decoration: none;
    outline: none;
}

button[class^='toggle'] {
    border-color: var(--color-accent-4);
    color: var(--color-accent-4);
    background: var(--color-accent-4-lightest);
}

.two-col {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    align-items: center;
}

.two-col > * {
    flex: 1;
}

.screenshot img {
    width: 100%;
    height: auto;
    border: 5px dotted var(--color-accent);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 4%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: black;
    animation: changeBG 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > div {
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    border-radius: 50%;
    animation: x-axis 1s ease-in-out alternate infinite;
}

.loader > div::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #dc1ce3,
                0 0 25px #dc1ce3,
                0 0 50px #dc1ce3,
                0 0 75px #dc1ce3;
    animation: y-axis 0.5s ease-in-out 0.25s alternate infinite;
}

.loader h2 {
    margin-top: 260px;
}

@keyframes x-axis {
    0% { transform: translateX(-60px) }
    100% { transform: translateX(60px) }
}

@keyframes y-axis {
    0% { transform: translateY(-60px) }
    100% { transform: translateY(60px) }
}

@keyframes changeBG {
    to {
        filter: hue-rotate(360deg);
    }
}

.dom-loaded .loader {
    display: none;
}