@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');
    
:root {
    --color-accent: rgb(255, 105, 180);
    --color-accent-lightest:  rgba(255, 105, 180, 0.2);
    --color-text: black;
    --color-accent-2: rgb(0, 206, 209);
    --color-accent-2-lightest: rgba(0, 206, 209, 0.2);
    --font-family-heading: 'Concert One', cursive;
    --font-family-body: 'Roboto', sans-serif;
    --color-accent-3: rgb(255, 215, 0);
    --color-accent-3-lightest: rgba(255, 255, 0, 0.2);
    --color-accent-4: rgb(30, 144, 255);
    --color-accent-4-lightest: rgba(30, 144, 255, 0.2);
}

body {
    font-family: var(--font-family-body);
    color: #000;
}

*, * * {
    line-height: 1.2em;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-heading);
    color: var(--color-accent);
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
}

p {
    margin-bottom: 1em;
}

strong {
    font-weight: 400;
}

.container {
    max-width: 1280px ; /*1920px;*/
    margin: 2% 0;
    width: 90%;
    border-radius: 50px;
    border: 1px solid var(--color-accent);
    background: var(--color-accent-lightest);
    padding: 2%;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

section {
    border-radius: inherit;
    border: 1px solid var(--color-text);
    background: white;
    padding: 4%;
    margin-bottom: 4%;
}

blockquote p {
    position: relative;
}

blockquote p::before,  
blockquote p::after {
    font-size: 3em;
    font-family: var(--font-family-heading);
    color: var(--color-accent-lightest);
    position: absolute;
}

blockquote p::before {
    content: '\201C';
    left: -40px;
    top: 0;
}

blockquote p::after {
    content: '\201D';
    bottom: -20px;
    margin-left: 10px;
}

blockquote span {
    font-family: var(--font-family-heading);
    display: inline-block;
    margin-right: 20px;
    font-size: smaller;
}

button, a {
    border-radius: 10px;
    border: 1px solid var(--color-accent-2);
    background: var(--color-accent-2-lightest);
    color: var(--color-accent-2);
    text-transform: uppercase;
    font-family: 'concert one';
    padding: 5px 20px;
    cursor: pointer;
    display: inline-block;
}

button:hover,
a:hover {
    background: white;
}

a {
    border: 1px solid var(--color-accent-3);
    background: var(--color-accent-3-lightest);
    color: var(--color-accent-3);
    text-decoration: none;
}

button[class^='toggle'] {
    border-color: var(--color-accent-4);
    color: var(--color-accent-4);
    background: var(--color-accent-4-lightest);
}

.two-col {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    align-items: center;
}

.two-col > * {
    flex: 1;
}