/* Webfont: AvenirNextLTPro-Bold */@font-face {
    font-family: 'AvenirNextLTProMedium';
    src: url('AvenirNextLTPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AvenirNextLTPro-Bold.woff') format('woff'), /* Modern Browsers */
         url('AvenirNextLTPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

