/* Webfont: AvenirNextLTPro-HeavyIt */@font-face {
    font-family: 'AvenirNextLTProHeavy';
    src: url('AvenirNextLTPro-HeavyIt.eot'); /* IE9 Compat Modes */
    src: url('AvenirNextLTPro-HeavyIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AvenirNextLTPro-HeavyIt.woff') format('woff'), /* Modern Browsers */
         url('AvenirNextLTPro-HeavyIt.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AvenirNextLTPro-HeavyIt.svg#AvenirNextLTPro-HeavyIt') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

